.bg-red{
  background-color: $primary;
  a,p{
    color:#fff;
  }
}
header{
  .container {
      display: flex;
      justify-content: space-between;
      @include phone{
        position: relative;
        text-align: center;
        justify-content: start;
        align-items: center;
      }
    }
    .logo{
      display: block;
      padding: 16px 4px;
    }
    .fa-bars{
      display: none;
      @include phone{
        display: block;
      }
    }
    .top-menu {
      display: flex;
      align-items: center;
      @include phone{
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        max-height: 0px;
        transition: all 0.8s;
        overflow: hidden;
        z-index: 120;
        &.active{
          max-height:300px ;
        }
      }
      a{
        @include phone{
          display: block;
          background: $primary;
          color: #FFFFFF;
          border-top: 1px solid #FFFFFF;
          padding: 16px 0;
          text-decoration: none;
          &:hover{
            background: #8f0400;
          }
        }
      }
    }
    .menu-link{
      display: block;
      padding: 10px 0;
      padding-left: 64px;
      font-size: 20px;
    }
} 
.ham-icon{
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 40px;
}

footer{
  padding-top: 48px;
  padding-bottom: 32px;
  @include pad{
    padding-bottom: 40px;
  }
  @include phone{
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-menu{
  display: flex;
  align-items: center;
  @include phone {
      display: none;
    }
  .footer-link{
    padding-right: 48px;
    font-weight: 400;
  }
}
.footer-social{
  display: flex;
  a{
    display: block;
    margin-left: 32px;
    @include pad{
      margin-left: 16px;
    }
    @include phone{
      margin-left: 8px;
    }
  }
  img{
    @include phone{
      width: 24px;
    }
  }
}

.footer-contact{
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 32px;
  @include phone{
    font-size: 16px;
  }
  span {
      font-size: 36px;
      margin-right: 22px;
      font-weight: 400;
      vertical-align: middle;
      @include phone{
        font-size: 20px;
        margin-right: 10px;
      }
    }
}

.copyright {
  display: flex;
  justify-content: space-between;
  @include phone{
    flex-direction: column;
  }
  p{
    @include phone{
      margin-bottom: 8px;
    }
  }
  ul{
    display: flex;
    font-size: 14px;
    @include phone{
      flex-direction: column;
      font-size: 16px;
    }
    li{
      @include phone{
        margin-bottom: 8px;
      }
    }
    a{
      display: block;
      margin-left: 48px;
      @include phone{
        margin: 0;
      }
    }
  }
}
  .footer-main{
      border-bottom: 1px solid #fff;
      margin-bottom: 32px;
    @include phone{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }