/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bg-red {
  background-color: #AA0601; }
  .bg-red a, .bg-red p {
    color: #fff; }

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    header .container {
      position: relative;
      text-align: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

header .logo {
  display: block;
  padding: 16px 4px; }

header .fa-bars {
  display: none; }
  @media (max-width: 767px) {
    header .fa-bars {
      display: block; } }

header .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    header .top-menu {
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      max-height: 0px;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s;
      overflow: hidden;
      z-index: 120; }
      header .top-menu.active {
        max-height: 300px; } }
  @media (max-width: 767px) {
    header .top-menu a {
      display: block;
      background: #AA0601;
      color: #FFFFFF;
      border-top: 1px solid #FFFFFF;
      padding: 16px 0;
      text-decoration: none; }
      header .top-menu a:hover {
        background: #8f0400; } }

header .menu-link {
  display: block;
  padding: 10px 0;
  padding-left: 64px;
  font-size: 20px; }

.ham-icon {
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 40px; }

footer {
  padding-top: 48px;
  padding-bottom: 32px; }
  @media (max-width: 992px) {
    footer {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    footer {
      padding-top: 24px;
      padding-bottom: 24px; } }

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .footer-menu {
      display: none; } }
  .footer-menu .footer-link {
    padding-right: 48px;
    font-weight: 400; }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-social a {
    display: block;
    margin-left: 32px; }
    @media (max-width: 992px) {
      .footer-social a {
        margin-left: 16px; } }
    @media (max-width: 767px) {
      .footer-social a {
        margin-left: 8px; } }
  @media (max-width: 767px) {
    .footer-social img {
      width: 24px; } }

.footer-contact {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 32px; }
  @media (max-width: 767px) {
    .footer-contact {
      font-size: 16px; } }
  .footer-contact span {
    font-size: 36px;
    margin-right: 22px;
    font-weight: 400;
    vertical-align: middle; }
    @media (max-width: 767px) {
      .footer-contact span {
        font-size: 20px;
        margin-right: 10px; } }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .copyright {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 767px) {
    .copyright p {
      margin-bottom: 8px; } }
  .copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px; }
    @media (max-width: 767px) {
      .copyright ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 16px; } }
    @media (max-width: 767px) {
      .copyright ul li {
        margin-bottom: 8px; } }
    .copyright ul a {
      display: block;
      margin-left: 48px; }
      @media (max-width: 767px) {
        .copyright ul a {
          margin: 0; } }

.footer-main {
  border-bottom: 1px solid #fff;
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .footer-main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 16px; } }

.store-section h1 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 96px;
  border-left: 8px solid #9F1213;
  padding-left: 16px; }
  @media (max-width: 767px) {
    .store-section h1 {
      font-size: 24px;
      margin-top: 40px; } }

.store-section .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .store-section .location label {
    font-size: 24px; }
    @media (max-width: 767px) {
      .store-section .location label {
        font-size: 16px; } }
  .store-section .location select {
    font-size: 18px;
    margin-left: 6px;
    width: 25%;
    padding: 6px 12px; }
    @media (max-width: 992px) {
      .store-section .location select {
        width: 40%; } }
    @media (max-width: 767px) {
      .store-section .location select {
        width: 70%; } }

.location-list {
  margin: 41px -12px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 992px) {
    .location-list {
      margin-bottom: 56px; } }
  @media (max-width: 767px) {
    .location-list {
      margin-bottom: 40px; } }
  .location-list .location-item {
    width: 31%;
    margin: 0 12px 48px; }
    @media (max-width: 992px) {
      .location-list .location-item {
        width: 44%;
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .location-list .location-item {
        width: 100%; } }
  .location-list h2 {
    font-size: 24px;
    padding: 8px 24px 8px;
    border: 1px solid #00000020;
    color: #212529; }

.store-info {
  padding: 8px 24px;
  border: 1px solid #00000020;
  color: #212529; }
  .store-info a {
    color: #212529; }
    .store-info a:hover {
      opacity: 0.7; }
  .store-info li {
    margin-top: 6px; }
  .store-info span {
    margin-right: 11px; }

.store-btn {
  background: #000000;
  color: #FFFFFF;
  display: block;
  padding: 16px 0;
  text-align: center; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none; }
  a:hover {
    opacity: 0.6; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px; }

.banner-img {
  background: url(../images/home-header.png) center;
  max-width: 100%;
  height: 787px;
  background-size: cover; }
  @media (max-width: 767px) {
    .banner-img {
      background-image: url(../images/home-header-sm.png);
      height: 396px; } }

.banner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #650300; }
  .banner-title p {
    font-weight: 400;
    font-size: 36px; }
  .banner-title h1 {
    font-weight: 700;
    font-size: 64px; }
  .banner-title a {
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 12px;
    background-color: #AA0601; }
  @media (max-width: 767px) {
    .banner-title p {
      font-size: 16px; }
    .banner-title h1 {
      font-size: 24px;
      margin-bottom: 8px; } }

.professional {
  text-align: center;
  background-color: #FBF2F2; }
  .professional .container {
    color: #650300;
    padding-top: 80px;
    padding-bottom: 80px; }
    @media (max-width: 767px) {
      .professional .container {
        padding-top: 40px;
        padding-bottom: 40px; } }
    .professional .container h2 {
      font-weight: 700;
      font-size: 48px;
      text-align: center; }
      @media (max-width: 767px) {
        .professional .container h2 {
          font-size: 24px; } }

.card-list {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 -12px; }
  @media (max-width: 992px) {
    .card-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0; } }
  .card-list li {
    text-align: center;
    width: 23%;
    padding-right: 12px;
    padding-left: 12px; }
    @media (max-width: 992px) {
      .card-list li {
        width: 45%;
        margin: 0 auto; } }
    @media (max-width: 767px) {
      .card-list li {
        width: 100%;
        padding-bottom: 24px; } }
  .card-list img {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px; }
  .card-list h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 8px; }
  .card-list p {
    font-weight: 400;
    text-align: left;
    max-width: 306px;
    color: #000000; }

.classic {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .classic {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .classic h2 {
    color: #650300;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .classic h2 {
        font-size: 24px;
        margin-bottom: 24px; } }

.classic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .classic-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 992px) {
    .classic-list li {
      margin: 0 auto; } }
  .classic-list img {
    width: 416px; }
  .classic-list p {
    color: #AA0601;
    font-weight: 900;
    font-size: 48px;
    font-style: italic;
    text-align: center;
    margin-top: 8px; }
    @media (max-width: 992px) {
      .classic-list p {
        margin-bottom: 24px; } }

.co-branding {
  background-image: url(../images/index-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px; }
  @media (max-width: 992px) {
    .co-branding {
      background-image: url(../images/index-bg-md.png); } }
  @media (max-width: 767px) {
    .co-branding {
      background-image: url(../images/index-bg-sm.png); } }
  .co-branding h2 {
    color: #ffff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px; }

.co-branding-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 992px) {
    .co-branding-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 992px) {
    .co-branding-list li {
      margin: 0 auto; } }
  .co-branding-list img {
    width: 648px;
    height: 240px; }
  .co-branding-list p {
    color: #AA0601;
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    padding: 8px;
    background-color: #fff;
    margin-bottom: 80px; }

.recommend {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .recommend {
      padding-bottom: 40px; } }
  .recommend h2 {
    font-size: 48px;
    color: #650300;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .recommend h2 {
        font-size: 24px;
        margin-bottom: 24px;
        margin-top: -40px; } }

.recommend-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .recommend-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .recommend-list li {
    -moz-text-align-last: left;
         text-align-last: left;
    width: 23.61%;
    -webkit-box-shadow: 0 2px 6px #00000029;
            box-shadow: 0 2px 6px #00000029; }
    @media (max-width: 992px) {
      .recommend-list li {
        width: 46%;
        margin: 0 auto 24px auto; } }
    @media (max-width: 767px) {
      .recommend-list li {
        width: 100%; } }

.recommend-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  height: 205px; }
  .recommend-text h3 {
    font-weight: 500;
    padding-bottom: 8px; }
  .recommend-text p {
    font-weight: 400; }

time {
  font-weight: 400;
  color: #707070;
  font-size: 14px; }

.contact {
  background-color: #FBF2F2;
  padding-top: 80px;
  padding-bottom: 80px; }
  .contact .container {
    max-width: 636px; }
  .contact h2 {
    color: #650300;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .contact h2 {
        font-size: 24px;
        margin-top: -40px;
        margin-bottom: 24px; } }
  .contact p {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    margin-bottom: 24px; }
    @media (max-width: 767px) {
      .contact p {
        font-size: 16px; } }

form textarea {
  width: 100%;
  margin-bottom: 16px;
  background-color: #FBF2F2; }

form .input {
  margin-bottom: 16px;
  height: 36px;
  width: 100%;
  background-color: #FBF2F2; }

.agree {
  margin-bottom: 48px; }
  @media (max-width: 767px) {
    .agree {
      margin-bottom: 24px; } }

.btn {
  background-color: #AA0601;
  color: #fff;
  padding: 16px 176px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  display: block; }
  @media (max-width: 992px) {
    .btn {
      padding: 16px 136px; } }
  @media (max-width: 767px) {
    .btn {
      padding: 16px 142px; } }

/*# sourceMappingURL=all.css.map */
