/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px; }

.bg-red {
  background-color: #AA0601; }
  .bg-red a, .bg-red p {
    color: #fff; }

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

header .logo {
  display: block;
  padding: 16px 0; }

header .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header .menu-link {
  display: block;
  padding: 10px 0;
  padding-left: 64px;
  font-size: 20px; }

footer {
  padding-top: 48px;
  padding-bottom: 32px; }

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-menu .footer-link {
    padding-right: 48px;
    font-weight: 400; }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-social a {
    display: block;
    margin-left: 32px; }

.footer-contact {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 32px;
  border-bottom: 1px solid #fff; }
  .footer-contact span {
    font-size: 36px;
    margin-right: 22px;
    font-weight: 400;
    vertical-align: middle; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px; }
  .copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px; }
    .copyright ul a {
      display: block;
      margin-left: 48px; }

/*# sourceMappingURL=all.css.map */
